* {
   margin: 0;
   padding: 0;
}

body {
   display: grid;
   place-items: center;
}

td {
   border: 1px solid #ccc;
   height: 80px;
   text-align: center;
   min-width: 160px;
}

h1 {
   margin-bottom: 10px;
   text-align: center;
}

#year {
   padding: 10px;
   width: 100%;
   margin-bottom: 12px;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 255, 0.6);
   transition: all 0.5s;
}

#year:focus {
   outline: none;
   border-bottom: 1px solid rgba(0, 0, 255, 0.3);
}

#table {
   width: 100%;
}

.history {
   max-width: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
