* {
   margin: 0;
   padding: 0;
}

html,
body {
   min-height: 100%;
}

td {
   border: 1px solid #ccc;
   height: 80px;
   text-align: center;
   min-width: 160px;
   /* width: 100%; */
}

h1 {
   margin-bottom: 10px;
   text-align: center;
}

#year {
   padding: 10px;
   width: 100%;
}

#table {
   width: 100%;
}

.history {
   max-width: 700px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}