.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1,
h3 {
   text-align: center;
}

input:focus {
   box-shadow: 0px 0px 8px 0px rgb(1, 255, 9);
}

label {
   margin-bottom: 2px;
   height: 10px;
}

button:hover {
   cursor: pointer;
}

.box,
.rectangle,
.circle,
.triangle {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

.box__header,
.rectangle__header,
.circle__header,
.triangle__header {
   display: flex;
   flex-direction: column;
}

.box__side,
.circle__radius {
   margin-bottom: 8px;
}

.box-results,
.rectangle-results,
.circle-results,
.triangle-results {
   margin-top: 10px;
   width: 100%;
   height: 60px;
}

.box__quade,
.rectangle__quad,
.circle__quade {
   margin-top: 0;
   margin-bottom: 10px;
}
.box__perimetr,
.rectangle__perimetr,
.circle__length,
.triangle__result {
   margin-top: 0;
}

.rectangle__long-side,
.rectangle__short-side {
   margin-bottom: 4px;
}

.rectangle__short-side,
.triangle__third-side {
   margin-bottom: 8px;
}
